<nav class="navbar-container">
    <div class="navbar_logo">
      <img class="" src="" alt="Logo" />
    </div>
    <div class="navbar_links">
      <a class="" role="button" routerLink="/home">Home</a>
      <a class="" role="button" routerLink="/subir">Subir</a>
      <a class="" role="button" routerLink="/inspiracion">Inspiración</a>
      <a class="" role="button" routerLink="/buscar">Buscador</a>
      <a class="" role="button" routerLink="/categoria">Categoria</a>
    </div>
  </nav>